<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
Hello world11
<ul>
    {% for pessoa in pessoas %}
        <li>{{pessoa.id}} - {{pessoa.nome}} <a href="{% url 'editar' pessoa.id %}"> Editar</a> <a href = "{% url 'deletar' pessoa.id %}"> Deletar</a></li>
    {% endfor %}
</ul>
<form action="{% url 'salvar' %}" method="post">
    {% csrf_token %}
    Nome:<input type="text" name="nome">
    <button type="Submit"> enviar</button>
    <input type="button" value="Enviar">
</form>
</body>
</html>